/*

Buttons

Buttons and their variations

Markup:
<a href="#" class="btn {{modifier_class}}">Button</a>

.btn--secondary       - A link that's sized like a button
.btn--link            - A link that's sized like a button

Styleguide 2.0

*/

%btn {
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  transition-duration: 200ms;
  transition-property: background-color;
  width: auto;
}

@mixin btn-size ($border-radius, $height, $padding) {
  border-radius: $border-radius;
  height: $height;
  line-height: $height;
  padding: $padding;
}

.btn {
  @extend %btn;
  @include btn-size(0.2rem, 4.2rem, 0 3rem);
  background-color: $primary;
  color: $white;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    background-color: $primary;
    color: $white;
  }

  &:focus {
    outline: 0.1rem dotted $gray3;
  }

  &:active {
    background-color: $primary;
  }
}

.btn--small {
  @include btn-size(0.2rem, 3.3rem, 0 2rem);
  font-size: $font-size--small;
}

.btn--large {
  @include btn-size(0.2rem, 5.2rem, 0 4rem);
  font-size: $font-size--large;
}

.btn--secondary {
  background-color: $gray6;
  color: $gray1;

  &:link,
  &:visited {
    color: $gray1;
  }

  &:focus,
  &:hover {
    background-color: $gray5;
    color: $gray1;
  }

  &:active {
    color: $gray3;
  }
}

.btn--link {
  background-color: transparent;
  color: $link;
  text-decoration: underline;

  &:link {
    color: $link;
  }

  &:visited {
    color: $link--visited;
  }

  &:focus,
  &:hover {
    background-color: transparent;
    color: $link--hover;
  }

  &:active {
    background-color: transparent;
    color: $link--active;
  }
}

[type='button'],
[type='submit'],
button {
  @extend .btn;
}
