// A beautiful selection of our branded colors
//
// Styleguide

// primary colors
$primary:        #003399 !default;
$secondary:      #2562be !default;
$tertiary:       #6d76c3 !default;
$quaternary:     #2c9dbb !default;

$link:           #337ab7 !default;
$link--visited:  darken($link, 10%) !default;
$link--hover:    #3abbdc !default;
$link--active:   lighten($link, 10%) !default;

// dark shades
$gray1:          #3c3c3d !default;
$gray2:          #5a5a5b !default;
$gray3:          #7d7d7e !default;

// light shades
$gray4:          #cdcdce !default;
$gray5:          #dededf !default;
$gray6:          #efeff0 !default;

$white:          #fff !default;
$black:          #000 !default;
