// A beautiful selection of our branded colors

// Styleguide

// primary colors
$primary:        #3833ff !default;
$secondary:      #badff9 !default;

$white:          #FFFBFC !default;
$black:          #222222 !default;

$gray1:          #3e3e49 !default;
$gray2:          #d5d5db !default;


$link:           $gray1 !default;
$link--visited:  darken($link, 10%) !default;
$link--hover:    darken($link, 10%) !default;
$link--active:   lighten($link, 10%) !default;
