%sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*===================================
NAV
NAV
NAV
NAV
=================================== */

.nav__button--collapse {
  color: $white;
  cursor: pointer;
  font-size: 3rem;
  position: fixed;
  right: 2rem;
  top: 1rem;
  z-index: 999;

  @media screen and (min-width: 900px) {
    display: none;
  }

}

@media screen and (max-width: 898px) {

  .hamburger {
    background: $primary;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 8px;
    margin-top: 2rem;
    width: 4rem;

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $secondary;
        transition-duration: 200ms;
        transition-property: background-color;
      }
    }

    &:focus {
      &::before,
      &::after {
        outline: 0.1rem dotted $gray3;
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: $secondary;
      }
    }

    &::before,
    &::after {
      background-color: $primary;
      content: '';
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      top: -1.25rem;
    }

    &::after {
      bottom: -1.25rem;
    }
  }
}

.nav {
  @extend %sr-only;
  display: flex;
  opacity: 0;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: opacity 500ms ease;

  @media screen and (min-width: 900px) {
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: relative;
    width: auto;
  }
}

.nav--column {
  align-items: flex-end;
  flex-direction: column;

  .nav__item {
    flex-grow: unset;
    margin-right: 1rem;
    text-align: left;
  }
}

.nav__item {
  border-radius: 10%;
  list-style: none;
  margin-right: 2rem;
  padding: 1rem;
  text-align: center;
}

.nav__link {
  text-decoration: none;
}

.sub-menu {
  @extend %sr-only;

  .nav__item {
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 900px) {
    background: $white;
    border-radius: 10%;
    clip: auto;
    height: auto;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    transform: translate3d(-15px, 0, -300px);
    transform-style: preserve-3d;
    transition: all 0.2s cubic-bezier(0.712, 0.0376, 0.392, 1);
    visibility: hidden;
    width: auto;

    .nav__item {
      border: 0;
    }
  }
}

.menu-item {
  &:hover {
    .sub-menu {
      display: block;
      opacity: 1;
      text-align: center;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    @media screen and (max-width: 899px) {
      .sub-menu {
        clip: auto;
        height: auto;
        margin: 0;
        margin-top: 1rem;
        overflow: auto;
        position: relative;
        width: 100%;

        .nav__item {
          margin-left: 0;
        }
      }
    }
  }
}

/*===================================
COLLAPSE
COLLAPSE
COLLAPSE
COLLAPSE
COLLAPSE
=================================== */

.show-nav {
  background-color: $white;
  clip: auto;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 998;

  .nav__item {
    border-radius: 0;
    font-size: 3.6rem;
    justify-content: flex-start;
    line-height: 4.8rem;
    margin: 0;
  }

  .nav__link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  }
}

.hide-nav {
  opacity: 0;
}

/*===================================
PILLS
PILLS
PILLS
PILLS
PILLS
=================================== */

.active {
  background-color: $gray1;
}
